@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  --Very-dark-desaturated-blue-1: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blue-2: hsl(223, 31%, 20%);
  --Very-dark-desaturated-blue-3: hsl(224, 36%, 15%);

  /* #### Keys */

  --Desaturated-dark-blue-1: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-2: hsl(224, 28%, 35%);

  --Red: hsl(6, 63%, 50%);
  --Dark-red: hsl(6, 70%, 34%);

  --Light-grayish-orange: hsl(30, 25%, 89%);
  --Grayish-orange: hsl(28, 16%, 65%);

  /* #### Text */

  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0, 100%);

  /* ### Theme 2 */

  /* #### Backgrounds */

  --Light-gray: hsl(0, 0%, 90%);
  --Grayish-red: hsl(0, 5%, 81%);
  --Very-light-gray: hsl(0, 0%, 93%);

  /* #### Keys */

  --Dark-moderate-cyan: hsl(185, 42%, 37%);
  --Very-dark-cyan: hsl(185, 58%, 25%);

  --Orange: hsl(25, 98%, 40%);
  --Dark-orange: hsl(25, 99%, 27%);

  --Light-grayish-yellow: hsl(45, 7%, 89%);
  --Dark-grayish-orange: hsl(35, 11%, 61%);

  /* #### Text */

  --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --White: hsl(0, 0, 100%);

  /* ### Theme 3 */

  /* #### Backgrounds */

  --Very-dark-violet-1: hsl(268, 75%, 9%);
  --Very-dark-violet-2: hsl(268, 71%, 12%);

  /* #### Keys */

  --Dark-violet: hsl(281, 89%, 26%);
  --Vivid-magenta: hsl(285, 91%, 52%);

  --Pure-cyan: hsl(176, 100%, 44%);
  --Soft-cyan: hsl(177, 92%, 70%);

  --Very-dark-violet-3: hsl(268, 47%, 21%);
  --Dark-magenta: hsl(290, 70%, 36%);

  /* #### Text */

  --Light-yellow: hsl(52, 100%, 62%);
  --Very-dark-blue: hsl(198, 20%, 13%);
  --White: hsl(0, 0, 100%);

  /* Fonts  */
  --font-league: "League Spartan", sans-serif;
}

body {
  background: var(--Very-dark-desaturated-blue-1);
  color: white;
  transition: all .3s linear;
}

body.light {
  background: var(--Light-gray);
  color: var(--White);
}
body.contrast {
  background: var(--Very-dark-violet-1);
  color: var(--Light-yellow);
}

.theme--container {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(400px, 50vw, 600px);
  margin: 1rem auto;
  margin: 2rem auto;
}

.theme--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.theme--switch {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 10px 10px;
}
.states {
  display: flex;
  gap: 1rem;
}
.states span {
  cursor: pointer;
}
.theme--toggler {
  position: relative;
  background: hsl(223, 31%, 20%);
  width: 55px;
  height: 15px;
  border-radius: 30px;
  padding: 3px;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  user-select: none;
}
.light .theme--toggler {
  background: var(--Grayish-red);
}
.contrast .theme--toggler {
  background: var(--Very-dark-violet-2);
}
.circle {
  position: absolute;
  background: var(--Red);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  left: 5px;
  transition: all 0.3s linear;
}
.contrast .circle {
  background: var(--Pure-cyan);
}

/* INPUT  */
.calc--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: clamp(400px, 50vw, 600px);
  margin: 5px auto;
}
.input--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 1px;
}
.input--wrapper input {
  width: 100%;
  padding: 1rem;
  background: var(--Very-dark-desaturated-blue-3);
  text-align: right;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  font-family: var(--font-league);
  border-radius: 10px;
}
.light .input--wrapper input {
  background: #fdfdfd;
  color: var(--Very-dark-grayish-yellow);
}
.contrast .input--wrapper input {
  background: var(--Very-dark-violet-2);
  color: var(--Light-yellow);
}

.keypad--wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* place-content: center; */
  padding: 1rem;
  gap: 12px;
  background: var(--Very-dark-desaturated-blue-2);
  border-radius: 10px;
}
.light .keypad--wrapper {
  background: var(--Grayish-red);
}
.contrast .keypad--wrapper {
  background: var(--Very-dark-violet-2);
}
.keypad--wrapper button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1.2rem 0px;
  font-size: 1.4rem;
  cursor: pointer;
  font-family: var(--font-league);
  background: var(--Light-grayish-orange);
  box-shadow: 0px 3px 0px 2px var(--Grayish-orange);
  transition: all 0.3s linear;
}
.light .keypad--wrapper button {
  background: var(--Light-grayish-yellow);
  box-shadow: 0px 3px 0px 2px var(--Dark-grayish-orange);
}
.contrast .keypad--wrapper button {
  background: var(--Very-dark-violet-3);
  color: var(--Light-yellow);
  box-shadow: 0px 3px 0px 2px var(--Dark-magenta);
}
.keypad--wrapper button:active {
  box-shadow: 0px 0px 0px 0px transparent;
}
#del--btn {
  color: white;
  background: var(--Desaturated-dark-blue-1);
  box-shadow: 0px 3px 0px 2px var(--Desaturated-dark-blue-2);
  transition: all 0.3s linear;
}
.light #del--btn {
  background: var(--Dark-moderate-cyan);
  box-shadow: 0px 3px 0px 2px var(--Very-dark-cyan);
}
.contrast #del--btn {
  background: var(--Dark-violet);
  box-shadow: 0px 3px 0px 2px var(--Vivid-magenta);
}
#del--btn:active {
  box-shadow: 0px 0px 0px 0px transparent;
}
#reset--btn {
  grid-column-start: span 2;
  color: white;
  background: var(--Desaturated-dark-blue-1);
  box-shadow: 0px 3px 0px 2px var(--Desaturated-dark-blue-2);
  transition: all 0.3s linear;
}
.light #reset--btn {
  background: var(--Dark-moderate-cyan);
  box-shadow: 0px 3px 0px 2px var(--Very-dark-cyan);
}
.contrast #reset--btn {
  background: var(--Dark-violet);
  box-shadow: 0px 3px 0px 2px var(--Vivid-magenta);
}
#reset--btn:active {
    box-shadow: 0px 0px 0px 0px transparent;
}
#equal--btn {
  grid-column-start: span 2;
  color: white;
  background: var(--Red);
  box-shadow: 0px 3px 0px 2px var(--Dark-red);
  transition: all 0.3s linear;
}
.light #equal--btn {
  background: var(--Orange);
  box-shadow: 0px 3px 0px 2px var(--Dark-orange);
}
.contrast #equal--btn {
  background: var(--Pure-cyan);
  box-shadow: 0px 3px 0px 2px hsl(187, 92%, 39%);
}
#equal--btn:active {
    box-shadow: 0px 0px 0px 0px transparent;
}
